@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Medium.ttf);
  }
.poppins {
    font-family: poppins;
}

@font-face {
    font-family: prompt;
    src: url(./fonts/Prompt-Regular.ttf);
  }
.prompt {
    font-family: prompt;
}

.container {
    width: 100%;
    height: 440px;
    background-color: #E8F5FD;
}

.head {
    width: 100%;
    height: 85px;
    background-color: #E8F5FD;
    border-style: solid;
    border-width: 1px;
    border-color: #1DA1F2;
}

.back-icon {
    margin-left: 90px;
    margin-top: 30px;
}

.logo {
    margin-left: 49px;
    margin-top: 36px;
}

.header-body {
    width: 100%;
    height: 355px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: initial;
    position: absolute;
    align-items: flex-start;
    align-content: flex-start;
}

.keyword-title {
    margin-top: 77px;
    margin-left: 165px;
    font-family: prompt;
    font-size: 20px;
    color: #72C0F0;
    height: 40px;
}

.keyword {
    font-family: prompt;
    font-weight: bold;
    color: #14171A;
    font-size: 40px;
    margin-top: 120px;
    margin-left: -80px;
}

.twitter {
    margin-left: 743px;
    margin-top: 77px;
}

.q-name {
    font-family: prompt;
    margin-left: 15px;
    font-size: 20px;
    height: 40px;
    margin-top: 79px;
    color: #72C0F0;
}

.quantity {
    font-family: prompt;
    font-size: 23px;
    font-weight: bold;
    color: #1DA1F2;
    margin-top: 120px;
    margin-left: -250px;
}

.seen-icon {
    margin-top: 250px;
    margin-left: -1030px;
}

.retweet-icon {
    margin-top: 250px;
    margin-left: 23px;
}

.fav-icon {
    margin-top: 250px;
    margin-left: 23px;
}

.triangle {
    margin-top: 360px;
    margin-left: 175px;
}

.tweet-data {
    width: 100%;
    margin-top: 355px;
}

.tweet-data-header {
    width: 100%;
    margin-top: 400px;
    margin-left: 165px;
    margin-bottom: 45px;
    font-family: prompt;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tweet-data-bar {
    margin-left: 23px;
    margin-right: 23px;
    opacity: 0.2;
}
.tweet-data-count {
    margin-left: 13px;
}

.tweet-data-user {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.user-icon {
    margin-left: 165px;
    opacity: 0.5;
}

.user-info {
    margin-left: 23px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:stretch;
}

.username {
    font-family: prompt;
    font-weight: bold;
    margin-top: 3px;
}

.user-tag {
    font-family: prompt;
    font-size: 13px;
    margin-top: 6px;
    opacity: 0.5;
}

.tweet-content {
    margin-left: 250px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.tweet-text {
    font-family: prompt;
    margin-bottom: 10px;
}

.tweet-image {
    margin-bottom: 100px;
}